[submodule "themes/hugo-easy-gallery"]
	path = themes/hugo-easy-gallery
	url = https://github.com/Darthagnon/hugo-easy-gallery.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
